@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Signika&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');


h1 {
  font-family: 'Alfa Slab One', serif;
}
span.email {
  font-family: 'Signika', sans-serif;
}

span.name {
  font-family: 'Satisfy', cursive;
}